
body {
  font-family: 'roboto';
}

.sq1{
    height: 300px !important;
    width: 300px !important;
}

.sq1 img {
    height: 100%;
}

  .post {
      width: 500px !important; 
    }

    .post-img img {
        width: 100%;
        height: 100%;
    }
      
    .post-title{
      margin: 0px;
    }

    .post-subtitle{
      font-size: 10px;
    }

    .copy_text{
      font-size: 10px;
      margin: 0px;
    }
  
    span{font-size: 12px;}